    <section class="encart  encart--focusLeft">
    </section>

    <div class="marketing">

      <!-- START THE FEATURETTES -->
          <div id="ico">
            <ul id="bj" class="social_icons clearfix">
             <li><a href="#"><img src="img/follow_icon1.png" alt=""></a></li>
             <li><a href="#"><img src="img/follow_icon2.png" alt=""></a></li>
             <li><a href="#"><img src="img/follow_icon3.png" alt=""></a></li>
             <li><a href="#"><img src="img/follow_icon4.png" alt=""></a></li>
            </ul>
          </div>
      <div class="row featurette">
        <div class="col-md-7 text">
          <h2 class="featurette-heading">Notre équipage <span class="text-muted">est à votre service.</span></h2>
          <p class="lead">Ils ont beau êtres petits, les Pupu sont très efficaces. Demandez leurs d'effectuer n'importe quelle tache, ils s'executeront. Par contre ils sont un peu stupides...</p>
        </div>
        <div class="col-md-5 img">
          <img data-holder-rendered="true" src="img/map.png" data-src="" alt="500x500">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5 text">
          <h2 class="featurette-heading">Des vaisseaux <span class="text-muted">de qualités.</span></h2>
          <p class="lead">Les meilleurs techniciens de la galaxie travaillent à notre service pour vous offrir le meilleur du transport spatial.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img data-holder-rendered="true" src="img/homeCertif.png" class="featurette-image img-responsive center-block" data-src="" alt="500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
